{{ '#' }} /etc/systemd/timesyncd.conf.d/99-ansible.conf
{{ '#' }}
{{ '#' }} UPRAVLJA ANSIBLE ROLA: timezone
{{ '#' }} Rucne izmene bice prepisane pri sledecem pokretanju.
{{ '#' }}
{{ '#' }} Drop-in fajl. Vrednosti ispod nadjacavaju iste direktive iz
{{ '#' }} /etc/systemd/timesyncd.conf, koji ostaje nedirnut.
{{ '#' }}
{{ '#' }} Provera stanja:  timedatectl show-timesync --all

[Time]
NTP={{ role_timezone_ntp_servers | join(' ') }}
{% if role_timezone_ntp_fallback_servers | length > 0 %}
FallbackNTP={{ role_timezone_ntp_fallback_servers | join(' ') }}
{% endif %}
