{{ '#' }} {{ _zabbix_server_config_file }}
{{ '#' }}
{{ '#' }} UPRAVLJA ANSIBLE ROLA: zabbix_server
{{ '#' }} Rucne izmene bice prepisane pri sledecem pokretanju.

ListenPort={{ role_zabbix_server_listen_port }}
{% if role_zabbix_server_listen_ip | length > 0 %}
ListenIP={{ role_zabbix_server_listen_ip }}
{% endif %}

PidFile=/run/zabbix/zabbix_server.pid
SocketDir=/run/zabbix

{{ '#' }} --- Logovanje --------------------------------------------------
LogFile={{ role_zabbix_server_logfile }}
LogFileSize={{ role_zabbix_server_logfile_size }}
DebugLevel={{ role_zabbix_server_debug_level }}
LogSlowQueries={{ role_zabbix_server_log_slow_queries }}

{{ '#' }} --- Baza -------------------------------------------------------
DBHost={{ role_zabbix_server_db_host }}
DBName={{ role_zabbix_server_db_name }}
DBUser={{ role_zabbix_server_db_user }}
DBPassword={{ role_zabbix_server_db_password }}
{% if role_zabbix_server_db_socket | length > 0 %}
DBSocket={{ role_zabbix_server_db_socket }}
{% endif %}
{% if role_zabbix_server_db_host not in ['', 'localhost'] %}
DBPort={{ role_zabbix_server_db_port }}
{% endif %}

{{ '#' }} --- Procesi ----------------------------------------------------
StartPollers={{ role_zabbix_server_start_pollers }}
StartPollersUnreachable={{ role_zabbix_server_start_pollers_unreachable }}
StartTrappers={{ role_zabbix_server_start_trappers }}
StartPingers={{ role_zabbix_server_start_pingers }}
StartDiscoverers={{ role_zabbix_server_start_discoverers }}
StartHTTPPollers={{ role_zabbix_server_start_http_pollers }}
StartPreprocessors={{ role_zabbix_server_start_preprocessors }}
StartAlerters={{ role_zabbix_server_start_alerters }}

{{ '#' }} --- Kesevi -----------------------------------------------------
CacheSize={{ role_zabbix_server_cache_size }}
HistoryCacheSize={{ role_zabbix_server_history_cache_size }}
HistoryIndexCacheSize={{ role_zabbix_server_history_index_cache_size }}
TrendCacheSize={{ role_zabbix_server_trend_cache_size }}
ValueCacheSize={{ role_zabbix_server_value_cache_size }}

{{ '#' }} --- Putanje ----------------------------------------------------
AlertScriptsPath={{ role_zabbix_server_alert_scripts_path }}
ExternalScripts={{ role_zabbix_server_external_scripts }}
FpingLocation={{ role_zabbix_server_fping_location }}
Timeout={{ role_zabbix_server_timeout }}

{{ '#' }} --- Statistika -------------------------------------------------
StatsAllowedIP={{ role_zabbix_server_stats_allowed_ip }}

{% if role_zabbix_server_ha_node_name | length > 0 %}
{{ '#' }} --- Visoka dostupnost ------------------------------------------
HANodeName={{ role_zabbix_server_ha_node_name }}
{% if role_zabbix_server_ha_node_address | length > 0 %}
NodeAddress={{ role_zabbix_server_ha_node_address }}
{% endif %}
{% endif %}
{% if role_zabbix_server_extra_config | length > 0 %}

{{ '#' }} --- Dodatna konfiguracija --------------------------------------
{{ role_zabbix_server_extra_config }}
{% endif %}
