{{ '#' }} 99-zabbix.ini
{{ '#' }}
{{ '#' }} UPRAVLJA ANSIBLE ROLA: zabbix_web
{{ '#' }} Rucne izmene bice prepisane pri sledecem pokretanju.
{{ '#' }}
{{ '#' }} Vrednosti ispod su minimum koji Zabbix frontend zahteva.
{{ '#' }} Nize vrednosti frontend odbija uz jasnu poruku.

max_execution_time = {{ role_zabbix_web_php_max_execution_time }}
memory_limit = {{ role_zabbix_web_php_memory_limit }}
post_max_size = {{ role_zabbix_web_php_post_max_size }}
upload_max_filesize = {{ role_zabbix_web_php_upload_max_filesize }}
max_input_time = {{ role_zabbix_web_php_max_input_time }}
date.timezone = {{ role_zabbix_web_php_timezone }}
