{{ '#' }} {{ _zabbix_agent_config_file }}
{{ '#' }}
{{ '#' }} UPRAVLJA ANSIBLE ROLA: zabbix_agent
{{ '#' }} Rucne izmene bice prepisane pri sledecem pokretanju.
{{ '#' }}
{{ '#' }} Dodatna konfiguracija koja preziveti nadogradnju ide u:
{{ '#' }}   {{ _zabbix_agent_include_dir }}/*.conf

PidFile=/run/zabbix/{{ _zabbix_agent_service | replace('-', '_') }}.pid
LogFile={{ role_zabbix_agent_logfile }}
LogFileSize={{ role_zabbix_agent_logfile_size }}
DebugLevel={{ role_zabbix_agent_debug_level }}

{{ '#' }} --- Veza sa serverom -------------------------------------------
Server={{ role_zabbix_agent_server }}
{% set server_active = role_zabbix_agent_server_active | default(role_zabbix_agent_server, true) %}
{% if server_active | length > 0 %}
ServerActive={{ server_active }}
{% endif %}

Hostname={{ role_zabbix_agent_hostname }}
{% if role_zabbix_agent_host_metadata | length > 0 %}
HostMetadata={{ role_zabbix_agent_host_metadata }}
{% endif %}

{{ '#' }} --- Mreza ------------------------------------------------------
ListenPort={{ role_zabbix_agent_listen_port }}
{% if role_zabbix_agent_listen_ip | length > 0 %}
ListenIP={{ role_zabbix_agent_listen_ip }}
{% endif %}
Timeout={{ role_zabbix_agent_timeout }}

{{ '#' }} --- Dozvoljeni kljucevi ----------------------------------------
{% for key in role_zabbix_agent_allow_keys %}
AllowKey={{ key }}
{% endfor %}
{% for key in role_zabbix_agent_deny_keys %}
DenyKey={{ key }}
{% endfor %}

{{ '#' }} --- TLS --------------------------------------------------------
TLSConnect={{ role_zabbix_agent_tls_connect }}
TLSAccept={{ role_zabbix_agent_tls_accept }}
{% if role_zabbix_agent_tls_connect == 'psk' or role_zabbix_agent_tls_accept == 'psk' %}
TLSPSKIdentity={{ role_zabbix_agent_tls_psk_identity }}
TLSPSKFile={{ role_zabbix_agent_tls_psk_file }}
{% endif %}

{{ '#' }} --- Dodatna konfiguracija --------------------------------------
Include={{ _zabbix_agent_include_dir }}/*.conf
{% if role_zabbix_agent_extra_config | length > 0 %}

{{ role_zabbix_agent_extra_config }}
{% endif %}
